* {
  margin: 0;
  padding: 0;
}

@font-face {font-family: 'iconfont';
    src: url('../img/font/iconfont.eot');
    src: url('../img/font/iconfont.eot') format('embedded-opentype'),
    url('../img/font/iconfont.woff') format('woff'),
    url('../img/font/iconfont.ttf') format('truetype'),
    url('../img/font/iconfont.svg#iconfont') format('svg');
}

body {
  font-family: "微软雅黑";
  color: #14191e;
}

a {
  text-decoration: none;
}

a:link,a:visited {
  color: #5e5e5e;
}

.main {
  width: 1200px;
  height: 460px;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}

.banner{
  width: 1200px;
  height: 460px;
  overflow: hidden;
}

.banner > a > .banner-slide {
  width: 1200px;
  height: 460px;
  float: left;
  background-repeat: no-repeat;
  display: none;
}

.banner > a > .slide-active {
  display: block;
}

.banner > a:nth-child(1) > .banner-slide {
  background-image: url("../img/bg1.jpg");
}

.banner > a:nth-child(2) > .banner-slide {
  background-image: url("../img/bg2.jpg");
}

.banner > a:nth-child(3) > .banner-slide {
  background-image: url("../img/bg3.jpg");
}

.button {
  position: absolute;
  width: 40px;
  height: 80px;
  left: 244px;
  top: 50%;
  margin-top: -40px;
  background: url(../img/arrow.png) center center no-repeat;
  transform: rotate(180deg);
}

.button:hover {
  background-color: #333;
  opacity: 0.8;
}

.next {
  left: auto;
  right: 0;
  transform: rotate(0deg);
}

.dots {
  position: absolute;
  right: 24px;
  bottom: 24px;
  line-height: 12px;
}

.dots > span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(7, 17, 27, 0.4);
  margin-left: 8px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
}

.dots > .dot-active {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
}

.menu-box,
.main-menu {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 244px;
  height: 460px;
}

.menu-box {
  background: rgba(7, 17, 27, 0.3);
  z-index: 1;
}

.main-menu {
  z-index: 2;
}

.main-menu > .menu-item {
  height: 66px;
  line-height: 66px;
  padding: 0 24px;
  cursor: pointer;
  position: relative;
}

.main-menu > .menu-item > a {
    display: block;
    height: 65px;
    color: #fff;
    font-size: 16px;
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
}

.main-menu > .menu-item:last-child > a {
  border-bottom: none;
}

.main-menu > .menu-item > a > i{
  position: absolute;
  right: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.sub-menu {
  width: 730px;
  height: 458px;
  position: absolute;
  left: 244px;
  top: 0px;
  border: 1px solid #d9dde1;
  background: #fff;
  z-index: 999;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  display: none;
}

.sub-menu > .inner-box {
  width: 100%;
  height: 100%;
  background: url("../img/fe.png") no-repeat;
}

.sub-menu > .inner-box > .sub-inner-box {
  width: 652px;
  margin-left: 40px;
  overflow: hidden;
}

.sub-menu > .inner-box > .sub-inner-box > .title {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  margin: 28px 0 30px 0;
  color: #f01414;
}

.sub-menu > .inner-box > .sub-inner-box > .sub-row {
  margin-bottom: 25px;
}

.sub-menu > .inner-box > .sub-inner-box > .sub-row > span {
  margin-left: 10px;
  margin-right: 10px;
}

.sub-menu > .inner-box > .sub-inner-box > .sub-row > span:first-child {
  margin-left: 0;
  font-weight: bold;
}
